<?xml version="1.0" encoding="UTF-8"?>
<beans
 xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
 <bean id="personDaoImpl" class="com.wei.spring.aop.dao.impl.PersonDaoImpl"></bean>
 <bean id="personServiceImpl" class="com.wei.spring.aop.service.impl.PersonServiceImpl">
 	<property name="persondaoimpl" ref="personDaoImpl"></property>
 </bean>
 <bean id="exceptionHandler" class="com.wei.spring.aop.utils.ExceptionHandler"></bean>
 			    
<aop:config>
	<aop:pointcut expression="execution(* com.wei.spring.aop.service.impl.PersonServiceImpl.*(..))" id="perform"/>
	<aop:aspect ref="exceptionHandler">
		<aop:after-throwing method="afterThrowing" pointcut-ref="perform" throwing="e"/>
	</aop:aspect>
</aop:config>
 </beans>